* {
	box-sizing: border-box;
}

.tab-container {
	border: 1px solid #aaa;
}

.tab-head-container {
	display: flex;
	border-bottom: 1px solid #ccc;
}

.tab-head {
	padding: 3px 10px;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

.tab-head:hover {
	background: #f5f5f5;
}

.tab-head.active {
	background: aquamarine;
}

.tab-body-container {
	height: 500px;
	padding: 10px;
}
